/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box; /*the width and height properties include content, padding and border, but not margin.*/
}

html, body{
	margin:0;
	display: table;
	height: 100%;
	width: 100%;
}

body {
	line-height: 1.6;
	color: #3a3a3a;	
}

a { 
	color: #fff;
	text-decoration: none;
}

footer {
	display: table-row;
	height: 1px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */
.name{
	margin-top: 0;
	font-size: 1.25em;
}

.name a{
	color: #093a58;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.container{
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	background: #3acec2;
	padding: 1em 0;
}

.footer {
	text-align: center;
	padding: 1em 0;
	background: #d9e4ea;
	clear: both;
}

/* ---- Page Elements ---- */




/* ================================= 
  MEDIA QUERIES -- TABLET
==================================== */

@media (min-width: 769px){

.wrap{
	/*min-height: calc(100vh - 89px);*/

}
	
.container{
	width:80%;
	/*max-width:1000px;*/
	margin: 0 auto;

}

.name,
.main-nav,
.main-nav li{
	display: inline-block;
	
}

.name a,
.main-nav a{
	padding: 10px 15px;
	display:block;
}

.name{
	width: 240px;
	margin-right: 60px;
}

.main-nav li{
	margin-right: 12px;
}

/*Content in two columns on wider screens:
(the tutorial way, aka the wrong way)
.col{
	display:inline-block;
	width:50%;
	margin-right: -4px;
	vertical-align: top;
	padding-left: 1em;
	padding-right: 1em;
}
*/

}

/* ================================= 
  MEDIA QUERIES -- DESKTOP
==================================== */

@media (min-width: 850px){


/*Content in two columns on wider screens:
(my way, aka the right way)*/
.left{
	width:45%;
	float:left;
}

.right{
	width:45%;
	float:right;
}


}